@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Medium.eot');
    src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue light';
    src: url('fonts/HelveticaNeue-Light.eot');
    src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Light.woff') format('woff'),
        url('fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.code{
  margin-bottom: 5px;
  font-family: 'Helvetica Neue', serif;
}

.text1 {
  font-size: 36px;
  font-weight: bold;
  color: red;
  padding-right: 3px;
  font-family: 'Helvetica Neue', serif;
}

.text2 {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Helvetica Neue', serif;
}

.text3 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 5px;
  font-family: 'Helvetica Neue', serif;
}

.text4 {
  font-size: 36px;
  font-weight: bold;
  color: red;
  padding-left: 3px;
  font-family: 'Helvetica Neue', serif;
}

.text5 {
  font-size: 20px;
  word-spacing: 31px;
  padding-left: 27px;
  text-decoration: overline;
  text-decoration-thickness: 1px;
  font-family: 'Helvetica Neue light', serif;
}
